.button {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background: var(--light-green);
  height: 3.5rem;
  padding: 0 1.25rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background: #33665f;
}
