:root {
  --chumbo: #2c2f32;
  --dark-green: #2c443f;
  --light-green: #315650;
  --beige: #eee7e1;
  --gray: #e2e2e2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--roboto), serif;
  font-size: 1.25rem;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  font-family: var(--noto-serif), serif;
  font-weight: bold;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}
